$accent: #FF6838;
$dark-blue: #363853;
$text: #31352B;
$silver: #ECECEC;
$grey: #C2C2C2;
$bg: #F9FAFF;
$black: #000000;
$white: #FFFFFF;

@mixin pseudo($pos: absolute, $content: '') {
  content: $content;
  position: $pos;
}

$xl: 1200px;
$large: 992px;
$middle: 768px;
$small: 576px;


