@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

/* header starts */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 2.4;
  padding-top: 60px;

  &__list {
    display: flex;
  }

  &__item:nth-child(-n+2) {
    margin-right: 47px;
  }

  &__item:nth-child(3) {
    margin-right: 50px;
  }

  &__item:nth-child(4) {
    margin-right: 10px;
  }
}

.menu__btn {
  width: 44px;
  height: 44px;
  padding-top: 3px;
  border-radius: 5px;
  text-align: center;
  transition: outline 0.8s, background-color 0.8s, color 0.8s;

  &:focus {
    outline: 2px solid $accent;
    background-color: #ff79501a;
  }

  &:hover {
    background-color: $accent;

    .menu__svg path,
    .menu__svg ellipse {
      stroke: $white;
    }

    .menu__cart-number {
      color: $accent;
      background-color: $white;
    }
  }

  &:active {
    outline: transparent;
    background-color: #ff79501a;
  }
}


.logo {
  border-radius: 5px;
  transition: outline 0.5s, opacity 0.7s;

  &:focus {
    outline: 2px solid $accent;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.menu__input {
  border-radius: 5px;
  border: 2px solid $grey;
  max-width: 200px;
  width: 100%;
  height: 44px;
  padding: 10px 10px;
  display: none;
  transition: color 0.4s, outline 0.3s, border-color 0.3s;

  &::placeholder {
    color: $grey;
  }

  &:focus {
    outline: 2px solid $accent;
    border-color: transparent;
  }

  &:hover {

    &::placeholder {
      color: $text;
    }
  }
}

.menu__form--active .menu__input {
  display: inline-block;
}

.menu__link,
.header__link,
.categories__link,
.footer__link,
.contacts__link {
  border-radius: 5px;
  transition: outline 0.8s, color 0.8s, text-shadow 0.8s;

  &:focus {
    outline: 2px solid $accent;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
  }
}

.menu__btn--cart {
  position: relative;
}

.menu__cart-number {
  position: absolute;
  background-color: $accent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: $white;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  right: 4px;
  top: 8px;
}

/* header content starts */

.header {
  padding-bottom: 60px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 159px);
    background-size: auto;
    background-position: right 50%;
    background-repeat: no-repeat;
  }

  &__title {
    max-width: 450px;
    width: 100%;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 66px;
    line-height: 1.3;
    margin-bottom: 20px;
    @extend %rubik-500;
  }

  &__delivery-promise {
    color: $accent;
  }

  &__text {
    max-width: 450px;
    width: 100%;
    color: $text;
    margin-bottom: 20px;
  }

  &__btn {
    display: inline-block;
    padding: 12px 32px;
    margin-right: 23px;
  }
}

.header__link,
.categories__link {
  position: relative;

  &::after {
    content: '';
    height: 1px;
    position: absolute;
    background-color: $dark-blue;
    left: 0;
    top: 20px;
    width: 100%;
    transition: opacity 0.4s;
  }

  &:focus::after,
  &:hover::after,
  &:active::after {
    opacity: 0;
  }
}

/* categories starts*/

.categories {
  text-align: center;
  padding-bottom: 120px;

  &__subtitle {
    text-align: center;
    margin-bottom: 60px;
  }

  &__filter-buttons {
    display: flex;
    margin-bottom: 52px;
  }

  &__filter-item {
    height: 70px;
  }

  &__filter-item:not(:last-child) {
    margin-right: 20px;
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: 1px solid $silver;
    border-radius: 5px;
    transition: outline 0.5s, border-color 0.3s, color 0.3s;
  }

  &__filter-btn:focus {
    outline: 2px solid $accent;
    border-color: transparent;
  }

  &__filter-btn:hover {
    outline: 2px solid $accent;
    background-color: #ff795019;
    color: $accent;

    path {
      fill: $accent;
    }
  }

  &__filter-btn:active {
    box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
  }

  &__filter-img {
    margin-right: 10px;
  }

  &__product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 53px;
  }
}

.mixitup-control-active {
  color: $white;
  background-color: $accent;

  path {
    fill: $white;
  }
}

.product {
  max-width: 210px;
  width: 100%;
  height: 299px;
  background-color: $white;

  &__inner {
    display: block;
    padding: 20px 15px;
    text-align: center;
  }

  &__photo {
    margin: 0 auto;
  }


  &__text {
    font-size: 15px;
    line-height: 1.2;
    color: $text;
    margin-bottom: 10px;
    height: 36px;
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    height: 21px;
  }

  &__btn {
    width: 100px;
    height: 32px;
    font-size: 14px;
    line-height: 1.3;
  }
}

/*footer starts*/

.footer {
  &__content {
    display: grid;
    grid-template-columns: 200px 155px 90px 190px 195px;
    gap: 70px;
    padding: 65px 0 60px 0;
  }

  &__subscribe {
    font-size: 14px;
    line-height: 1.3;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 200px;
    padding: 12px 32px;
    transition: outline 0.8s, background-color 0.5s;
  }

  &__btn:focus {
    outline: 2px solid $accent;
    background-color: #ff79501a;

    path {
      fill: $accent;
    }
  }

  &__btn:hover,
  &__btn:active {
    path {
      fill: $accent;
    }
  }

  &__svg {
    margin-right: 15px;
  }

  &__list {
    font-size: 18px;
    line-height: 1.3;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__input {
    max-width: 200px;
    width: 100%;
    height: 44px;
    background-color: $white;
    border-radius: 5px;
    border: 2px solid $grey;
    margin-bottom: 12px;
    padding: 15px 13px;
    transition: color 0.3s, outline 0.3s, border-color 0.5s;

    &::placeholder {
      color: $silver;
    }
  }

  &__input:focus {
    border-color: transparent;
    outline: 2px solid $accent;
  }

  &__input:hover::placeholder {
    color: $text;
  }

  &__copy {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    color: $dark-blue;
  }
}

.contacts {
  font-size: 16px;
  line-height: 2;
  transition: stroke 0.8s;

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__link:hover {
    .contacts__svg path {
      stroke: $accent;
    }
  }

  &__svg {
    margin-right: 5px;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: block;
    width: 39px;
    height: 39px;
    text-align: center;
    border-radius: 50%;
    background-color: $silver;
    padding-top: 8px;
    transition: outline 0.4s, background-color 0.5s;
  }

  &__link:focus {
    outline: 2px solid $accent;
    background-color: #ff79501a;
  }

  &__link:hover {
    background-color: $accent;

    .social__svg path {
      fill: $white;
    }
  }

  &__link:active {
    background-color: #FFF2ED;

    .social__svg path {
      fill: $accent;
    }
  }
}







@import 'media';