.app {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-right: 20px;
  }

  &__subtitle {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__link {
    display: block;
    height: 40px;
    background-repeat: no-repeat;

    &:focus {
      outline: 2px solid $accent;
    }

    &:hover {
      opacity: 0.8;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--apple {
      background-image: url('../images/home-page/appstore.svg');
      width: 120px;
    }

    &--google {
      background-image: url('../images/home-page/googleplay.svg');
      width: 135px;
    }
  }

  &__img {
    object-fit: contain;
  }
}

@media (max-width: $large) {
  .app {
    &__img {
      display: none;
    }
  }
}

@media (max-width: $middle) {
  .app {
    &__subtitle {
      font-size: 24px;
    }

    &__text {
      font-size: 14px;
    }
  }
}