.header {
  padding-top: 60px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__tools {
    display: inline-flex;
    order: 3;
  }

  &__saved {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    transition: ouline 0.8s, background-color 0.8s, color 0.8s, fill 0.8s, stroke 0.8s;

    &:focus {
      outline: 2px solid $accent;
      background-color: #ff79501a;

      .header__saved-icon {
        fill: #ff79501a;
      }
    }

    &:hover {
      background-color: $accent;

      .header__saved-icon {
        fill: $accent;
        stroke: $white;
      }

      .header__saved-number {
        color: $accent;
        background-color: $white;
      }
    }

    &:active {
      outline: transparent;
      background-color: #ff79501a;

      .header__saved-icon {
        fill: #ff79501a;
      }
    }
  }

  &__saved-icon {
    fill: $white;
    stroke: $black;
    transition: fill 0.8s, stroke 0.8s;
  }

  &__saved-number {
    position: absolute;
    background-color: $accent;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: $white;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    right: 4px;
    top: 8px;
    transition: color 0.5s, background-color 0.7s;
  }
}

.menu {
  margin-left: auto;
  margin-right: 43px;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    font-size: 18px;
    line-height: 2.4;
    border-radius: 5px;
    transition: outline 0.8s, color 0.8s, text-shadow 0.8s;

    &--active {
      color: $accent;
    }

    &:focus {
      outline: 2px solid $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }
}

.mobile-menu {
  width: 300px;
  position: absolute;
  background-color: $white;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 25px 15px 0 15px;
  transform: translateX(-200%);
  transition: transform 0.9s;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100vw - 300px);
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
    z-index: -5;
    transform: translateY(-200%);
    transition: transform 0.9s;
  }

  &__logo {
    padding-bottom: 25px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: outline 0.8s, background-color 0.8s;

    &:focus {
      outline: 2px solid $accent;
      background-color: #ff79501a;
    }

    &:hover {
      background-color: $accent;

      .mobile-menu__icon {
        fill: $white;
      }
    }

    &:active {
      outline: transparent;
      background-color: #ff79501a;
    }
  }

  &__icon {
    fill: $dark-blue;
    transition: fill 0.8s;
  }

  &__list {
    position: relative;
    margin-bottom: 25px;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 300px;
      height: 2px;
      background-color: #EEEFF3;
      left: -15px;
    }

    &::before {
      top: -4px;
    }

    &::after {
      bottom: -4px;
    }
  }

  &__link {
    display: block;
    border-radius: 3px;
    font-size: 18px;
    padding: 6px 0 6px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 44px;
    height: 44px;
  }

  &__link {

    &--active {
      color: $accent;
    }

    &:focus {
      outline: 2px solid $accent;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }
}

.mobile-menu.active {
  display: block;
  transform: translateY(0);

  &::after {
    transform: translateY(0);
  }
}

.search {

  &__btn,
  &__submit-btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    transition: outline 0.5s, background-color 0.6s;

    &:focus {
      outline: 2px solid $accent;
      background-color: #ff79501a;

      .search__icon {
        fill: #ff79501a;
      }
    }

    &:hover {
      background-color: $accent;

      .search__icon {
        stroke: $white;
      }
    }

    &:active {
      outline: transparent;
      background-color: #ff79501a;

      .search__icon {
        fill: rgba(255, 121, 80, .1019607843);
      }
    }
  }

  &__icon {
    transition: fill 0.8s, stroke 0.8s;
    fill: transparent;
    stroke: $black;
  }

  &__form {
    display: flex;
    order: 2;
    align-items: center;
    position: absolute;
    right: 500px;
    transform: translateY(-500px);
    transition: transform 0.5s;

    &.active {
      position: static;
      transform: translateY(0);
    }
  }

  &__label {
    display: flex;
    width: 200px;
    font-size: 14px;
    margin-right: 20px;
  }

  &__input {
    border-radius: 5px;
    border: 2px solid $grey;
    max-width: 200px;
    width: 100%;
    padding: 5px 10px;
    transition: color 0.4s, outline 0.3s, border-color 0.3s;

    &::placeholder {
      transition: color 0.7s;
      color: $grey;
    }

    &:focus {
      outline: 2px solid $accent;
      border-color: transparent;
    }

    &:hover {
      &::placeholder {
        color: $text;
      }
    }
  }
}

.burger-menu {
  width: 44px;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3px;

  &__line {
    display: block;
    width: 30px;
    height: 1px;
    background-color: $dark-blue;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 1px;
      background-color: $dark-blue;
    }

    &::before {
      top: 13px;
    }

    &::after {
      bottom: 12px;
    }
  }

  &:focus {
    outline: 2px solid $accent;
    background-color: #ff79501a;
  }

  &:hover {
    background-color: $accent;

    .burger-menu__line,
    .burger-menu__line::before,
    .burger-menu__line::after {
      background-color: $white;
    }
  }

  &:active {
    outline: transparent;
    background-color: #ff79501a;
  }
}

@media (max-width: $middle) {

  .header {
    padding: 16px 0;

    &__logo {
      width: 115px;
      height: 23px;
    }
  }

  .menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .header__saved {
    margin-right: 10px;
  }
}