.restaurant {
  padding-bottom: 120px;

  &__subtitle {
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__card {
    background-color: $white;
    border-radius: 10px;
    border: 2px solid $silver;
    width: 370px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover {
      box-shadow: (0px 4px 4px rgba(255, 103, 56, 0.25));
    }
  }

  &__card.restaurant__card--active {
    box-shadow: (0px 0px 0px rgba(0, 0, 0, 0.0));

    .restaurant__timetable,
    .restaurant__icon {

      text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  &__link {
    display: block;
    margin-bottom: 15px;
  }

  &__name {
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__info {
    padding: 15px 20px 23px;
  }

  &__work-hours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 18px;
  }

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  &__btn {
    padding: 19px;
    border-radius: 30px;
    background-color: $accent;
    margin-left: auto;
    width: 79px;
    position: relative;
    transition: outline 0.8s, background-color 0.8s, color 0.6s;

    &:focus {
      outline: 2px solid $accent;
      background-color: #ff79501a;
      color: $accent;

      .restaurant__btn-icon {
        fill: $accent;
      }
    }

    &:hover {
      outline: 2px solid $accent;
      background-color: $white;
      color: $accent;

      .restaurant__btn-icon {
        transform: translateX(50%);
        fill: $accent;
      }
    }

    &:active {
      background-color: #ff79501a;
      color: $accent;

      .restaurant__btn-icon {
        fill: $accent;
      }
    }
  }

  &__btn-icon {
    width: 14px;
    height: 12px;
    fill: $white;
    position: absolute;
    top: 36%;
    transform: translateX(-50%);
    transition: transform 0.8s, fill 0.8s;
  }
}