<section class="app">
  <div class="container">
    <div class="app__inner">
      <div class="app__info">

        <h2 class="app__subtitle subtitle">
          Скачайте мобильное приложение
        </h2>

        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>

        <div class="app__list">
          <a class="app__link app__link--apple" href="#">
            <span class="sr-only">
              скачать приложение в apple store
            </span>
          </a>

          <a class="app__link app__link--google" href="#">
            <span class="sr-only">
              скачать приложение в google play
            </span>
          </a>
        </div>

      </div>

      <img src="images/home-page/app.jpg" alt="приложения Симл Фуд" class="app__img">

    </div>
  </div>
</section>