<section class="delivery">
  <div class="container">
    <div class="delivery__inner" style="background-image: url('images/home-page/delivery.png')">
      <div class="delivery__content">
        <h2 class="delivery__subtitle subtitle">
          Оставайтесь дома,
          а мы позаботимся о еде
        </h2>
        <p class="delivery__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скиидку!
        </p>
        <ul class="delivery__list">
          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--timer" width="34" height="34">
              <use href="images/sprite.svg#timer"></use>
            </svg>
            Быстрая доставка за 15 минут
          </li>
          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--delivery" width="34" height="34">
              <use href="images/sprite.svg#delivery"></use>
            </svg>
            Вежливые курьеры
          </li>
          <li class="delivery__item">
            <svg class="delivery__icon delivery__icon--restaurant" width="34" height="34">
              <use href="images/sprite.svg#restaurant"></use>
            </svg>
            Более 500 заведений
          </li>
        </ul>
        <a class="button" href="#">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>