<section class="discounts">
  <div class="container">
    <h2 class="discounts__subtitle subtitle">
      Акции и скидки
    </h2>
    <ul class="discounts__list">

      <li class="discounts__item">
        <article class="discounts__link" href="#">
          <img class="discounts__img" src="images/home-page/blaze-pizza.jpg" width="370" height="300" alt="пицца">
          <p class="discounts__text">
            Скидка 50% на вторую пиццу
          </p>
        </article>
      </li>

      <li class="discounts__item">
        <article class="discounts__link" href="#">
          <img class="discounts__img" src="images/home-page/kfc.jpg" width="370" height="300" alt="черные бургеры">
          <p class="discounts__text">
            Картошечка из KFC даром при заказе бургера
          </p>
        </article>
      </li>

      <li class="discounts__item">
        <article class="discounts__link" href="#">
          <img class="discounts__img" src="images/home-page/star-burger.jpg" width="370" height="300"
            alt="черные бургеры">
          <p class="discounts__text">
            Чёрные бургеры на чёрный день
          </p>
        </article>
      </li>

    </ul>
  </div>
</section>