<section class="hero">
  <div class="container">

    <div class="hero__inner" style="background-image: url('images/home-page/scooter.png')">

      <h2 class="hero__subtitle">
        доставка
        <span class="hero__delivery-promise">
          за 15 минут
        </span>
      </h2>

      <p class="hero__text">
        Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
      </p>

      <div class="hero__links">
        <a class="hero__btn button" href="#">
          Заказать
        </a>

        <a class="hero__link" href="#">
          Подробнее
        </a>
      </div>

    </div>
  </div>
</section>