<section class="product-description">
  <div class="container">

    <div class="product-description__inner">

      <div class="product-description__box">
        <div class="product-description__top">
          <div class="product-description__img-box">
            <img class="product-description__img" width="400" height="400" src="images/home-page/gallery.png"
              alt="чизбургер">
          </div>
          <div class="product-description__content">
            <h2 class="product-description__subtitle subtitle">
              Чизбургер с листьями салата
            </h2>
            <div class="product-description__rateyo" id="rateYo" data-rateyo-rating="4"></div>
            <div class="product-description__price price">
              160 грн.
            </div>
            <form action="" class="product-description__form" action="#">
              <input class="product-description__select" value="1" type="number">

              </input>
              <button class="product-description__cart button" type="submit">
                <svg class="product-description__svg" width="20" height="20">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                Добавить в корзину
              </button>
            </form>
            <h3 class="product-description__delivery">
              Доставка и оплата
            </h3>

            <ul class="product-description__list">
              <li class="product-description__item">
                Минимальная сумма заказа —
                <span class="price">160</span>
                <span class="currency">грн.</span>
              </li>
              <li class="product-description__item">
                Время доставки заказа — 80-140 мин.
              </li>
              <li class="product-description__item">
                Оплата осуществляется только банковской картой.
              </li>
              <li class="product-description__item">
                Окончательная сумма заказа формируется после сбора товаров.
              </li>
            </ul>

            <a class="product-description__link" href="#">
              Подробнее
            </a>

          </div>
        </div>
      </div>

      <div class="product-description__box">
        <div class="product-description__top">
          <div class="product-description__img-box">
            <img class="product-description__img" width="400" height="400" src="images/home-page/gallery.png"
              alt="чизбургер">
          </div>
          <div class="product-description__content">
            <h2 class="product-description__subtitle subtitle">
              Чизбургер с листьями салата
            </h2>
            <div class="product-description__rateyo" id="rateYo" data-rateyo-rating="4"></div>
            <div class="product-description__price price">
              160 грн.
            </div>
            <form action="" class="product-description__form" action="#">
              <input class="product-description__select" value="1" type="number">

              </input>
              <button class="product-description__cart button" type="submit">
                <svg class="product-description__svg" width="20" height="20">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                Добавить в корзину
              </button>
            </form>
            <h3 class="product-description__delivery">
              Доставка и оплата
            </h3>

            <ul class="product-description__list">
              <li class="product-description__item">
                Минимальная сумма заказа —
                <span class="price">160</span>
                <span class="currency">грн.</span>
              </li>
              <li class="product-description__item">
                Время доставки заказа — 80-140 мин.
              </li>
              <li class="product-description__item">
                Оплата осуществляется только банковской картой.
              </li>
              <li class="product-description__item">
                Окончательная сумма заказа формируется после сбора товаров.
              </li>
            </ul>

            <a class="product-description__link" href="#">
              Подробнее
            </a>

          </div>
        </div>
      </div>

      <div class="product-description__box">
        <div class="product-description__top">
          <div class="product-description__img-box">
            <img class="product-description__img" width="400" height="400" src="images/home-page/gallery.png"
              alt="чизбургер">
          </div>
          <div class="product-description__content">
            <h2 class="product-description__subtitle subtitle">
              Чизбургер с листьями салата
            </h2>
            <div class="product-description__rateyo" id="rateYo" data-rateyo-rating="4"></div>
            <div class="product-description__price price">
              160 грн.
            </div>
            <form action="" class="product-description__form" action="#">
              <input class="product-description__select" value="1" type="number">

              </input>
              <button class="product-description__cart button" type="submit">
                <svg class="product-description__svg" width="20" height="20">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                Добавить в корзину
              </button>
            </form>
            <h3 class="product-description__delivery">
              Доставка и оплата
            </h3>

            <ul class="product-description__list">
              <li class="product-description__item">
                Минимальная сумма заказа —
                <span class="price">160</span>
                <span class="currency">грн.</span>
              </li>
              <li class="product-description__item">
                Время доставки заказа — 80-140 мин.
              </li>
              <li class="product-description__item">
                Оплата осуществляется только банковской картой.
              </li>
              <li class="product-description__item">
                Окончательная сумма заказа формируется после сбора товаров.
              </li>
            </ul>

            <a class="product-description__link" href="#">
              Подробнее
            </a>

          </div>
        </div>
      </div>

    </div>

  </div>
</section>