<section class="product-catalog">
  <div class="container">
    <div class="product-catalog__top">
      <h2 class="product-catalog__subtitle subtitle">
        Каталог продуктов
      </h2>

      <div class="product-catalog__filter-nav">

        <button class="product-catalog__filter-button">
          <svg class="product-catalog__filter-svg" width="32" height="36">
            <use xlink:href="images/sprite.svg#filter"></use>
          </svg>
        </button>


        <form class="product-catalog__form" action="#">

          <select class="product-catalog__select">
            <option value="1">По названию</option>
            <option value="2">По рейтингу</option>
            <option value="3">По калорийности</option>
            <option value="4">По цене</option>
          </select>

          <select class="product-catalog__select">
            <option value="1">по 12</option>
            <option value="2">по 24</option>
          </select>
        </form>

      </div>

    </div>

    <div class="product-catalog__content">

      <div class="product-catalog__filter">

        <button class="filter-menu__btn">
          <svg class="filter-menu__icon" width="19" height="19">
            <use href="images/sprite.svg#close"></use>
          </svg>
        </button>

        <div class="filter-categories">

          <h2 class="filter-categories__subtitle">
            Категории
          </h2>

          <ul class="filter-categories__list">
            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter="all">
                Бургеры
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-a">
                Пицца
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-b">
                Сендвичи
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-d">
                Азиатская кухня
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-c">
                Сеты
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-d">
                Европейская кухня
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-a">
                Напитки
              </button>
            </li>

            <li class="filter-categories__item">
              <button class="filter-categories__btn" type="button" data-filter=".category-c">
                Алкоголь
              </button>
            </li>
          </ul>

        </div>

        <div class="filter-offer">
          <h2 class="filter-offer__subtitle">
            Предложения
          </h2>

          <form class="filter-offer__form" action="#">

            <label class="filter-offer__label" for="offer-input">
              Со скидкой
              <input class="filter-offer__input" type="checkbox" name="checkbox-1">
            </label>

            <label class="filter-offer__label" for="offer-input">
              Новинка
              <input class="filter-offer__input" type="checkbox" name="checkbox-2" checked>
            </label>

            <label class="filter-offer__label" for="offer-input">
              Хит
              <input class="filter-offer__input" type="checkbox" name="checkbox-3">
            </label>

          </form>
        </div>

        <div class="filter-price">
          <h2 class="filter-price__subtitle">
            Цена
          </h2>
          <form class="filter-price__form" action="#">
            <label class="filter-price__label" for="">
              <span>от</span>
              <span class="filter-price__from"></span>
              <span class="filter-price__currency">₴</span>
              <span>до</span>
              <span class="filter-price__to"></span>
              <span>₴</span>
              <input class="filter-price__input" type="text" data-type="double" data-min="0" data-max="1100"
                data-from="100" data-to="1000">
            </label>
          </form>
        </div>

      </div>

      <div class="product-catalog__display">

        <ul class="product-catalog__list">
          <li class="product-catalog__item mix category-a">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/cheese-burger.jpg"
                  alt="Чизбургер с листьями салата" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160
                <span class="product-card__currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/beef-burger.jpg" alt="Бифбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-c">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
                  alt="Королевский чизбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-c">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
                  alt="Королевский чизбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-c">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
                  alt="Королевский чизбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-d">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/black-burger.jpg"
                  alt="Черный гамбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-e">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/chicken-burger.jpg" alt="Чикен бургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-a">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/cheese-burger.jpg"
                  alt="Чизбургер с листьями салата" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-b">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/beef-burger.jpg" alt="Бифбургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-c">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
                  alt="Королевский чизбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-d">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/black-burger.jpg"
                  alt="Черный гамбургер" width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>

          <li class="product-catalog__item mix category-e">
            <article class="product-card">
              <a class="product-card__link" href="#">
                <img class="product-card__photo" src="images/home-page/categories/chicken-burger.jpg" alt="Чикен бургер"
                  width="140" height="140">
              </a>
              <h3 class="product-card__text">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180
                <span class="currency">
                  грн.
                </span>
              </span>
              <button class="product-card__btn button button--small" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>

        <div class="pagination">
          <a class="pagination__link" href="#">
            <svg class="pagination__svg" width="40" height="40">
              <use xlink:href="images/sprite.svg#prev-arrow"></use>
            </svg>
          </a>

          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link active" href="#">
                1
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                2
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                ...
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                9
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                10
              </a>
            </li>
          </ul>

          <a class="pagination__link current" href="#">
            <svg class="pagination__svg" width="40" height="40">
              <use xlink:href="images/sprite.svg#next-arrow"></use>
            </svg>
          </a>
        </div>

        <div class="mobile__pagination">
          <a class="pagination__link" href="#">
            <svg class="pagination__svg" width="40" height="40">
              <use xlink:href="images/sprite.svg#prev-arrow"></use>
            </svg>
          </a>

          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link active" href="#">
                1
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                ...
              </a>
            </li>

            <li class="pagination__item">
              <a class="pagination__link" href="#">
                10
              </a>
            </li>
          </ul>

          <a class="pagination__link current" href="#">
            <svg class="pagination__svg" width="40" height="40">
              <use xlink:href="images/sprite.svg#next-arrow"></use>
            </svg>
          </a>
        </div>

      </div>

    </div>
  </div>
</section>