<section class="product-description">
  <div class="container">

    <div class="product-description__inner">

      <div class="product-description__box">
        <div class="product-description__top">
          <div class="product-description__img-box">
            <img class="product-description__img" width="400" height="400" src="images/home-page/img.jpg"
              alt="чизбургер">

            <img class="product-description__img" width="400" height="400" src="images/home-page/img.jpg"
              alt="чизбургер">

            <img class="product-description__img" width="400" height="400" src="images/home-page/img.jpg"
              alt="чизбургер">

          </div>
          <div class="product-description__content">
            <h2 class="product-description__subtitle subtitle">
              Чизбургер с листьями салата
            </h2>
            <div class="product-description__rateyo" id="rateYo" data-rateyo-rating="4"></div>
            <div class="product-description__price price">
              160 грн.
            </div>
            <form action="" class="product-description__form" action="#">
              <input class="product-description__select" value="1" type="number">

              </input>
              <button class="product-description__cart button" type="submit">
                <svg class="product-description__svg" width="20" height="20">
                  <use xlink:href="images/sprite.svg#cart"></use>
                </svg>
                Добавить в корзину
              </button>
            </form>
            <h3 class="product-description__delivery">
              Доставка и оплата
            </h3>

            <ul class="product-description__list">
              <li class="product-description__item">
                Минимальная сумма заказа —
                <span class="price">160</span>
                <span class="currency">грн.</span>
              </li>
              <li class="product-description__item">
                Время доставки заказа — 80-140 мин.
              </li>
              <li class="product-description__item">
                Оплата осуществляется только банковской картой.
              </li>
              <li class="product-description__item">
                Окончательная сумма заказа формируется после сбора товаров.
              </li>
            </ul>

            <a class="product-description__link" href="#">
              Подробнее
            </a>

          </div>
        </div>
      </div>

    </div>

    <div class="product-tabs">

      <div class="product-tabs__top">

        <a class="product-tabs__link product-tabs__link--active" href="#tab-1">
          Описание
        </a>
        <a class="product-tabs__link" href="#tab-2">
          Характеристики
        </a>
        <a class="product-tabs__link" href="#tab-3">
          Отзывы (2)
        </a>

      </div>

      <div class="product-tabs__content">

        <div class="product-tabs__content-item product-tabs__content-item--active" id="tab-1">
          <p class="product-tabs__content-item__description">
            Рубленый бифштекс из натуральной говядины на карамелизованной булочке, с ломтиком сыра «Чеддер», кетчупом,
            горчицей,
            луком и маринованными огурчиками.
          </p>

          <p class="product-tabs__content-item__description">
            Аллергены: Глютен, Молоко, Горчица, Может содержать сою, яйцо, следы кунжута
          </p>

          <p class="product-tabs__content-item__description">
            Внешний вид товара может отличаться от изображений, представленных на сайте.
          </p>
        </div>

        <ul class="product-tabs__content-item" id="tab-2">
          <li class="product-tabs__list-item">
            Диаметр:
            <span>
              20 см
            </span>
          </li>

          <li class="product-tabs__list-item">
            Вес:
            <span>
              300 гр
            </span>
          </li>

          <li class="product-tabs__list-item">
            Калорийность (на 100г):
            <span>
              295 ккал
            </span>
          </li>

          <li class="product-tabs__list-item">
            Срок хранения:
            <span>
              до 3 дней
            </span>
          </li>
        </ul>

        <div class="product-tabs__content-item" id="tab-3">
          <h4 class="product-tabs__subtitle">
            Мнения наших клиентов
          </h4>

          <div class="product-tabs-reviews">

            <div class="tabs-review">
              <div class="tabs-review__content">

                <img class="tabs-review__img" src="images/review-img.jpg" alt="аватарка ревьювера номер 1">
                <p class="tabs-review__details">
                  Андрей
                  <span class="tabs-review__date">
                    10.06.2021
                  </span>
                </p>

                <div class="star tabs-review__rateyo" data-rateyo-rating="4"></div>
              </div>
              <p class="tabs-review__text">
                Доставили быстро. Товар свежий и очень вкусный, буду пробовать еще!))
              </p>
            </div>

            <div class="tabs-review">
              <div class="tabs-review__content">

                <img class="tabs-review__img" src="images/review-img.jpg" alt="аватарка ревьювера номер 1">
                <p class="tabs-review__details">
                  Екатерина Белая
                  <span class="tabs-review__date">
                    7.06.2021
                  </span>
                </p>

                <div class="star tabs-review__rateyo" data-rateyo-rating="5"></div>
              </div>
              <p class="tabs-review__text">
                этот бургер неплохой чтобы перекусить, когда нет возможности или времени что-нибудь приготовить. Это
                отличный вариант,
                чтобы съесть на ходу, но чтобы побаловать себя, я больше предпочту пиццу
              </p>
            </div>

          </div>

          <h5 class="product-tabs__subtitle">
            Оставить отзыв
          </h5>

          <div class="product-tabs__rating">
            <p class="product-tabs__text">
              Ваша оценка *
            </p>
            <span class="rateyo"></span>
          </div>

          <form class="product-tabs__form" action="#" id="subscribe">

            <div class="product-tabs__review-windows">

              <label class="product-tabs__label" for="">
                Ваш отзыв *
                <textarea class="product-tabs__textarea" placeholder="Введите текст отзыва" required></textarea>
              </label>

              <div class="product-tabs__personal-info">
                <label class="product-tabs__name-input" for="">
                  Имя
                  <input class="product-tabs__input" type="text" placeholder="Введите ваше имя">
                </label>
                <label class="product-tabs__email-input" for="">
                  Email *
                  <input class="product-tabs__input" type="email" placeholder="youremail@mail.com" required>
                </label>
              </div>
            </div>


            <label class="checkbox__label" for="checkbox-subscribe">
              Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
            </label>
            <input class="checkbox__input" type="checkbox" id="checkbox-subscribe"">

            <button class=" product-tabs__button button button--big" type="submit" for="subscribe">
            Оставить отзыв
            </button>

          </form>

        </div>

      </div>
    </div>

  </div>
</section>