<section class="categories">
  <div class="container">
    <h2 class="categories__subtitle subtitle">
      Популярные категории
    </h2>

    <ul class="categories__filter-buttons">
      <li class="categories__filter-item">
        <button class="categories__filter-btn" type="button" data-filter="all">
          <svg class="categories__icon" width="44" height="44">
            <use href="images/sprite.svg#burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="categories__filter-item">
        <button class="categories__filter-btn" type="button" data-filter=".category-b">
          <svg class="categories__icon" width="44" height="44">
            <use href="images/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="categories__filter-item">
        <button class="categories__filter-btn" type="button" data-filter=".category-c">
          <svg class="categories__icon" width="44" height="44">
            <use href="images/sprite.svg#sandvich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="categories__filter-item">
        <button class="categories__filter-btn" type="button" data-filter=".category-d">
          <svg class="categories__icon" width="44" height="44">
            <use href="images/sprite.svg#asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="categories__filter-item">
        <button class="categories__filter-btn" type="button" data-filter=".category-e">
          <svg class="categories__icon" width="44" height="44">
            <use href="images/sprite.svg#dish"></use>
          </svg>
          Сеты
        </button>
      </li>

    </ul>

    <ul class="categories__product">
      <li class="categories__item mix category-a">

        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/cheese-burger.jpg"
              alt="Чизбургер с листьями салата" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160
            <span class="product-card__currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/beef-burger.jpg" alt="Бифбургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
              alt="Королевский чизбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/black-burger.jpg" alt="Черный гамбургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-e">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/chicken-burger.jpg" alt="Чикен бургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-a">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/cheese-burger.jpg"
              alt="Чизбургер с листьями салата" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-b">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/beef-burger.jpg" alt="Бифбургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-c">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/king-cheeseburger.jpg"
              alt="Королевский чизбургер" width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-d">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/black-burger.jpg" alt="Черный гамбургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>

      <li class="categories__item mix category-e">
        <article class="product-card">
          <a class="product-card__link" href="#">
            <img class="product-card__photo" src="images/home-page/categories/chicken-burger.jpg" alt="Чикен бургер"
              width="140" height="140">
          </a>
          <h3 class="product-card__text">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180
            <span class="currency">
              грн.
            </span>
          </span>
          <button class="button button--small" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>

    <a class="categories__details" href="#">
      Показать еще
    </a>
  </div>
</section>