<section class="restaurant">
  <div class="container">
    <h2 class="restaurant__subtitle subtitle">
      Лучшие рестораны
    </h2>
    <ul class="restaurant__list">

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/blaze-pizza.jpg" alt="блэйз пицца" width="370"
            height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              Blaze Pizza
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана Blaze Pizza
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/pizza-runcho.jpg" alt="пицца ранчо" width="370"
            height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              Pizza Runcho
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана Pizza Runcho
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/pizza-hut.jpg" alt="пицца-хат" width="370" height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              Pizza Hut
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана Pizza Hut
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/mcdonalds.jpg" alt="мак дональдс" width="370"
            height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              McDonalds's
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана McDonald's
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/kfc.jpg" alt="кфс" width="370" height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              KFC
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана KFC
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>

      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/home-page/star-burger.jpg" alt="стар бургер" width="370"
            height="300">
          <div class="restaurant-card__info">
            <h3 class="restaurant-card__name">
              Star Burgers
            </h3>
            <div class="restaurant-card__details">
              <svg class="restaurant-card__icon">
                <use xlink:href="images/sprite.svg#time"></use>
              </svg>
              <time class="restaurant-card__timetable" datetime="11:00">
                11:00 &nbsp;
              </time>
              <span>
                -
              </span>
              <time class="restaurant-card__timetable" datetime="22:00">
                &nbsp; 22:00
              </time>
              <a class="restaurant-card__link" href="#">
                <svg class="restaurant-card__btn-icon" width="14" height="12">
                  <use xlink:href="images/sprite.svg#arr-right"></use>
                </svg>
                <span class="sr-only">
                  перейти на страницу ресторана Star Burgers
                </span>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>